h2{
  text-align: center;
}

form{
 
  width: 320px;
  margin: auto;
}

.form-div{
  margin: 50px auto;
}

.App{
  
  margin:auto;
  width: 700px;

}

input{
  display:block;
  margin:2px;
  width:300px;
  height: 25px;
 
}

textarea{
  display: block;
  margin: 2px;
  width:301px;
}

.button-class{
  width: 307px;
  margin: 2px;
  height: 25px;
  background-color: rgba(41, 41, 228, 0.918);
  border: none;
  cursor: pointer;
}

.image-div{
  width:50px;
  height: 50px;
   
}
img{
  width:100%;
  height: 100%;
  border-radius: 50%;
}

li{
  list-style: none;
  border: 1px solid rgb(100, 96, 96);
  
}

ul{
  margin: 2px;
 
  padding: 0;
}
.image-name{
  display: flex;
  align-items: center;
}

h4{
  margin-left:2px;

}

.list-map{
  margin:0 5px;
  display: flex;
  justify-content: space-between;
}

.age-detail{

  width: 200px;
  text-align: center;
  
}

#error-p{
  color:red;
  font-size: small;
  margin-left: 5px;
  font-weight: bold;
}